<mat-card class="post">
  <mat-card-header class="post-header">
    <div mat-card-avatar class="post-header-image"></div>
    <mat-card-subtitle class="post-header-subtitle">Post title</mat-card-subtitle>
    <mat-card-title class="post-header-title">Shiba Inu</mat-card-title>
  </mat-card-header>
  <mat-card-content class="post-content">
    <p>This card has divider and indeterminate progress as footer</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur cupiditate delectus, illo nam numquam
      sequi sit voluptas? Animi dicta eius eos exercitationem hic minima mollitia obcaecati possimus quaerat qui quidem,
      rerum ut voluptatem? Asperiores blanditiis est ipsam, iste perferendis porro soluta. Architecto esse eum excepturi
      fuga id neque ullam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur cupiditate delectus, illo nam numquam
      sequi sit voluptas? Animi dicta eius eos exercitationem hic minima mollitia obcaecati possimus quaerat qui quidem,
      rerum ut voluptatem? Asperiores blanditiis est ipsam, iste perferendis porro soluta. Architecto esse eum excepturi
      fuga id neque ullam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur cupiditate delectus, illo nam numquam
      sequi sit voluptas? Animi dicta eius eos exercitationem hic minima mollitia obcaecati possimus quaerat qui quidem,
      rerum ut voluptatem? Asperiores blanditiis est ipsam, iste perferendis porro soluta. Architecto esse eum excepturi
      fuga id neque ullam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur cupiditate delectus, illo nam numquam
      sequi sit voluptas? Animi dicta eius eos exercitationem hic minima mollitia obcaecati possimus quaerat qui quidem,
      rerum ut voluptatem? Asperiores blanditiis est ipsam, iste perferendis porro soluta. Architecto esse eum excepturi
      fuga id neque ullam.</p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions class="post-actions">
    <button mat-mini-fab class="btn" color="primary" routerLink="/" aria-label="button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
