<mat-card class="card">
  <mat-card-header class="card-header">
    <div mat-card-avatar class="card-header-image"></div>
    <mat-card-title class="card-header-title">Post title</mat-card-title>
    <mat-card-subtitle class="card-header-subtitle">Post date</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam blanditiis dicta dolore excepturi harum
      hic nam nobis quos vero.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="btn btn-dark" routerLink="/post" routerLinkActive="post">OPEN</button>
  </mat-card-actions>
</mat-card>
